@charset "UTF-8";

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-size: cover;
}

nav {
  background-color: #000000be;
  text-align: center;
  padding: 1px;
}

li a {
  color: white;
}

li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
}

#videoSection {
  background-color:#00000098;
  color: white;
  margin-top: 5px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

video {
  max-width:50%;
}

#sectionTwo {
  background-color: white;
  text-align: left;
}

article {
  background-color: white;
  padding: 10px 15px;
}

footer {
  clear: both;
  background-color: #20416c;
  color: white;
  padding: 5px 20px;
}

.outdoors {
  display: block;
  color: green;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
}

#favorite {
  color: red;
}

header {
  text-align: center;
  background-image: url("https://media.timeout.com/images/105573552/image.jpg");
  color: white;
  
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#headerDiv {
  background-color: #00000098;
}

/* Style the video: 100% width and height to cover the entire window */

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#emsPhoto {
  border-radius: 70px;
  border: 7px solid white;
  margin-top: 10%;
}

